.header{
    width: 100%;
    height: 60vw;
    position: relative;

    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.5;
    }

    &__text{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        background-color: rgba(white, 0.4);
    }

    &__title{
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 3rem;
        list-style: 3.5rem;
    }

    &__subtitle{
        font-size: 1.6rem;
        line-height: 2rem;
    }
}