.icon--scout {
    width: 3rem;
    height: 3rem;
    padding: 0.33rem;
    object-fit: contain;
    border: 2px solid red;
    border-radius: 20%;;
}

.icon--ok{
    width: 2rem;
    height: 2rem;
    padding: 0.33rem;
    object-fit: contain;
    border: 2px solid green;
    border-radius: 20%;
    margin-top: auto;
    margin-bottom: 2rem;
}

.icon--back {
    height: 3rem;
    width: auto;
    color: black;
}