<div class="route__header">
    <a routerLink="/">
        <app-icons icon="back"></app-icons>
    </a>
    <div class="route__img-wrapper">
        <img [src]="'assets/imgs/'+this.team.logo" class="route__logo" alt="">
    </div>
    <h1 class="route__title">{{this.team.name}}</h1>
</div>
<div class="route__container">
    <div *ngFor="let level of this.levels" class="route route--{{level[0]}}">
        <div class="route__street">
            <img [src]="'assets/imgs/street.png'" class="route__street-image" alt="">
            <div class="route__level">{{level[0]}}</div>
        </div>
        <div class="route__members">
            <div (click)="currentMember = member" *ngFor="let member of this.level[1]" [ngStyle]="this.getRandomPosition()" class="route__member">
                <app-icons icon="scout"></app-icons>
                <div>{{member.name}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="currentMember" [className]="currentMember==undefined ? 'member__modal hidden':'member__modal'">
        <div class="member__modal-inner">
            <div class="member__modal-element member__modal-element--name"><strong>{{currentMember.name}}</strong></div>
            <div class="member__modal-element"><strong>{{currentMember.goal.value}}: </strong>{{currentMember.goal.date}}</div>
            <div class="member__modal-element"><strong>{{currentMember.commitment.value}}: </strong>{{currentMember.commitment.date}}</div>
            <div class="member__modal-element member__modal-element--close"><app-icons (click)="currentMember = undefined" icon="ok"></app-icons></div>
        </div>
    </div>
</div>