/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(burlywood, 0.3);
}

@at-root{
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
}